.TrainsTableWrapper {
    width: 100%;
    height: 100%;
    background: #F7F8FA;
    padding: 20px;
    display: flex;
    gap: 40px;
}

.TrainsTableHeader {
    font-weight: 700;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.TrainsTableContainer {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.TrainsLeftTable {
    border-collapse: collapse;
}


.TableHead {
    background: #F7F8FA;
    border-radius: 8px;
    color: cadetblue;
}

.TableRow {
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid #F7F8FA;
    text-align: center;
}

.TableHeader,
.TableData {
    padding: 20px;
    font-size: 20px;
    white-space: nowrap;
}

.TableInput {
    padding: 20px;
    font-size: 20px;
}

input:invalid {
    color: red;
    border: 2px solid red;
}

.TableButton {
    margin: 0 auto;
    display: block;
    font-size: 24px;
    width: 300px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 8px;
    background: #fff;
}